.question-box{
    width: 75%;
}
.question{
    border-radius: 15px;
}
.question:hover{
    cursor: pointer;
}
.question img{
    width: 35px;
    transition: .3s;
}
.question p{
    margin-top: 10px;
    font-size: 1.3em;
}
.answer{
    width: 95%;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 0;
    overflow: hidden;
    transition: .5s;
}
.rotation{
    transform: rotate(45deg);
}
@media screen and (max-width : 992px) {
    .question p{
        font-size: 1.2em ;
    }
}
@media screen and (max-width : 768px){
    .question-box{
        width: 90%;
    }
    .question p{
        font-size: 1em;
    }
    .question-header h2{
        font-size: 1.5em;
    }
    .question-header p{
        font-size: 1.2em;
    }
}