.bg-introduction{
    margin: 0;
    padding: 0;
    height: 70vh;
    background-image: url('../Assets/introdoction-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size:100% 100%;
}
.introduction{
    margin-top: 50px;
    color: white;
}
.button-order {
    width: 136px;
    height: 45px;
    background-color: #203843;
    color: white;
    border-radius: 10px;
    font-family: Vazirmatn;
    cursor: pointer;
} 
.button-order:hover {
    color: white;
    background-color: #2d434d;
}
.introduction-img img{
    width: 80%;
    margin-top: -30px;
}
.introduction-bg{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@media screen and (max-width : 992px) {
    .introduction-items h2{
        font-size: 1.98em;
    }
    .bg-introduction{
        height: 58vh;
    }
    .introduction-img img{
        margin-top: 0;
    }
    .intro-br{
        display: none;
    }
}
@media screen and (max-width : 576px) {
    .bg-introduction{
        background-image: none;
    }
    .introduction{
        color: black;
    }
}