.main-services-div{
    margin-top: 150px;
    position: relative;
}
.service-designer-bg{
    width: 100%;
    position: absolute;
    top: -150px;
    right: 0;
}
.laptop-side{
    width: 50%;
}
.laptop-side p{
    width: 300px;
}
.services{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}
.main-right{
    display: inline;
    height: 400px;
    z-index: 1;
    filter: drop-shadow(-8px 8px 28px #0000003a);
}
.right-top ,.right-bottom{
    width: 600px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
}
.right-top{
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    top: 0;
}
.right-bottom{
    border-top: 2px solid rgba(49, 49, 49, 0.488);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    top: 200px;
}

.main-left{
    height: 400px;
    z-index: 1;
    filter: drop-shadow(10px -8px 28px #0000003a);
}
.left-top{
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
    width: 600px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 0;
}
.left-top , .left-bottom{
    width: 600px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
}
.left-top{
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
    top: 0;
}
.left-bottom{
    border-top: 2px solid rgba(49, 49, 49, 0.488);
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
    top: 200px;
}
.main-right h2 ,.main-right p{
    transform:translateX(-60px) ;
}
.main-left h2 ,.main-left p{
    transform:translateX(-200px) ;
}
.main-left h2 , .main-right h2{
    margin-top: 40px;
}
.lapttop-div{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    z-index: 2;
}
.lapttop-div img{
    width: 90%;
}
@media screen and (max-width : 1200px) {
    .laptop-side{
        width: 450px;
    }
    .laptop-side h2{
        font-size: 1.8em;
    }
    .laptop-side p{
        width: 250px;
    }
    .service-designer-bg{
        top: -30px;
    }
    .main-right h2 ,.main-right p{
        transform:translateX(-40px) ;
    }
    .main-left h2 ,.main-left p{
        transform:translateX(-150px) ;
    }
}
@media screen and (max-width : 992px) {
    .main-services-div{
        padding: 50px 0;
        color: white;
        background-color: #0F333B;
    }
    .services{
        margin-top: -30px;
    }
    .main-left , .main-right{
        display: flex;
        flex-direction: row;
        height: auto;
        text-align: center;
        height: 275px;
        position: relative;
    } 
    .laptop-side{
        clip-path: unset;
        background-color: unset;
        border: none;
        display: inline;
        width: 170px;
        height: auto;
        filter: unset;
        position: unset;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .laptop-side h2{
        font-size: 20px;
        line-height: 2em;
    }
    .laptop-side p{
        width: 115px;
        font-size: 13px;
        margin: auto;
    }
    .mobile-img{
        text-align: center;
        width: 100%;
    }
    .mobile-img img{
        width: 55%;
    }
    .main-right h2 ,.main-right p{
        transform:translateX(0) ;
    }
    .main-left h2 ,.main-left p{
        transform:translateX(0) ;
    }
    .right-top{
        position: absolute;
        top: 30%;
        right: 18%;
    }
    .right-bottom{
        position: absolute;
        top: 37%;
        right: 65%;
    }
    .left-top{
        position: absolute;
        top: -10%;
        right: 15%;
    }
    .left-bottom{
        position: absolute;
        top: -25%;
        right: 68%;
    }
}
@media screen and (max-width : 768px) {
    .right-top{
        top: 25%;
        right: 15%;
    }
    .right-bottom{
        position: absolute;
        top: 25%;
        right: 60%;
    }
    .left-top{
        top: -10%;
        right: 10%;
    }
    .left-bottom{
        top: -20%;
        right: 60%;
    }
}
@media screen and (max-width : 576px) {
    .right-top{
        top: 25%;
        right: 8%;
    }
    .right-bottom{
        top: 20%;
        right: 55%;
    }
    .left-top{
        top: -10%;
        right: 5%;
    }
    .left-bottom{
        top: -20%;
        right: 55%;
    }
}
@media screen and (max-width : 400px) {
    .laptop-side{
        position: unset;
    }
    .mobile-img{
        display: none;
    }
    .service-design-h{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.452);
    }
    .services{
        margin-top:20px ;
    }
    .main-left , .main-right{
        flex-direction: column;
        height: auto;
    }
    .laptop-side{
        width: 80%;
        margin: auto;
        text-align: start;
    }
    .laptop-side p{
        width: auto;
    }
}
