.main-services-div{
    position: relative;
}
.right-top{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 600px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(32% 0, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0 100%);
    border-radius: 20px;
}