.main-description{
    margin-top: 150px;
}
.description-box{
    margin: 0 20px;
    width: 320px;
    height: 550px;
    border-radius: 50px;
}
.description-box img{
    margin: 20px 0;
}
.description-box p{
    margin-top: 30px;
}
.description-box h3{
    line-height: 1.5em;
}
@media screen and (max-width : 576px) {
    .description-box{
        width: 70%;
        height: auto;
        padding: 30px 20px 90px 20px;
    }
    .description-box img{
        width: 60%;
    }
}
@media screen and (max-width : 400px) {
    .description-box{
        width: 90%;
    }
    .description-box img{
        width: 80%;
        margin-bottom: 0;
    }
}