<<<<<<< HEAD
.goals {
    width: 75%;
=======
/* .goals {
    width: 1100px;
>>>>>>> 15b82db263b5ed249869f41c16a59e85fc01a9e2
    height: 380px;
    display: flex;
    margin: auto;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 5px 16px 20px 0px rgba(22,25,79,0.1);
-webkit-box-shadow: 5px 16px 20px 0px rgba(22,25,79,0.1);
-moz-box-shadow: 5px 16px 20px 0px rgba(22,25,79,0.1);
    margin-top: 150px;
}
.goals-img {
    margin-top: -50px;
}
.goals-items  {
    margin: 75px 5% 0 0 ;
}
.goals-items h3{
    color: #203843;
    font-family: Vazirmatn;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.goals-items p {
    width: 550px;
    height: 150px;
    color: #000;
    text-align: right;
    font-family: Vazirmatn;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */
.goals{
    border-radius: 15px;
    margin-top: 150px;
    padding: 0 30px;
}
.goals-img{
    margin-top: -40px;
}
@media screen and (max-width : 992px) {
    .goals-img{
        margin-top: -70px;
    }
    .goals{
        padding:30px 20px;
    }
    .goals h1{
        margin-top: 15px;
    }
  }
  @media screen and (max-width : 768px) {
    .goals-img{
        margin-top: 30px;
    }
  }